/* Setting some basic parameters for the body tag */ 
body {
    margin: 0 auto; 
    font-family: "Montserrat", sans-serif; 
    background-color: lavender;
  
    

}

/* Setting the properties for the Division class selector */ 
.firstDiv, h2{
    background-color: rgb(12, 17, 44); 
    padding: 10px 10px 10px 10px ; 
    color: whitesmoke; 
}

/* */ 
.firstlist {
    text-align: center;
    font-family: "Montserrat", sans-serif; 
    font-size: 30px;
    font-size-adjust: inherit;
    font-weight: 400;
    padding: 0 20px 20px 20px; 
}

/* */ 
.secondDiv {
    margin: 0 auto; 
    background-color: rgb(211, 209, 223);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}